{% extends 'base.html' %}
{% block main %}
{% for post in post_list %}
<div class="container-fluid" style="padding:0;">
			<article class="post post-{{ post.pk }}">
                <div class="bh-card">
                    <div class="bh-card-main">
                        <h3 class="bh-card-main-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                        <div class="bh-card-tag">
                            <div><i class="fa fa-clock-o"><time class="entry-date" datetime="{{ post.created_time }}"> {{ post.created_time }}</time></i></div>
                            <div><i class="fa fa-eye"></i> {{ post.views }} </div>
                            <div><i class="fa fa-commenting-o"></i> {{ post.comment_set.count }}</div>
                        </div>
                        <p class="bh-card-main-info">{{ post.excerpt }}...</p>
                    </div>
                </div>
			</article>
		{% empty %}
        <div class="no-post">暂时还没有发布的文章！</div>
		{% endfor %}
    </div>
</div>
    {% if is_paginated %}
    <div class="pagination-simple">
  <!-- 如果当前页还有上一页，显示一个上一页的按钮 -->
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
      {% endif %}
  <!-- 显示当前页面信息 -->
      <span class="current">第 {{ page_obj.number }} 页 / 共 {{ paginator.num_pages }} 页</span>
  <!-- 如果当前页还有下一页，显示一个下一页的按钮 -->
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">下一页</a>
      {% endif %}
    </div>
    {% endif %}
{% endblock main %}