{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/static/blog/img/favicon.ico" type="image/x-icon" />
    <title>落叶丶为谁伤 - 博客</title>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/css/pace.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">
    <!-- js -->
    <script src="https://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'blog/js/pace.min.js' %}"></script>
    <script src="{% static 'blog/js/modernizr.custom.js' %}"></script>
    <style type="text/css">
        .copy {
                text-align: center;
                color: #666;
              }
    </style>
</head>

<body>
    <a name="top"></a>
    <script type="text/javascript" color="255,255,255" opacity="1" zindex="-2" count="250" src="//cdn.bootcss.com/canvas-nest.js/1.0.0/canvas-nest.min.js"></script>
    <div id="midground" class="wall"></div>
    <div id="foreground" class="wall"></div>
    <div id="top" class="wall"></div>
    <div id="home" class="container">
        <div  id="header">
            <header id="site-header">
                <div class="row">
                    <div class="col-md-4 col-sm-5 col-xs-8 col">
                        <div class="logo">
                            <h1><a href="{% url 'blog:index' %}"><b>落叶丶为谁伤</b></a></h1>
                        </div>
                    </div><!-- col-md-4 -->
                    <div class="col-md-8 col-sm-7 col-xs-4">
					
                        <nav class="main-nav" role="navigation">
                            <div class="navbar-header">
                                <button type="button" id="trigger-overlay" class="navbar-toggle">
                                    <span class="ion-navicon"></span>
                                </button>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="cl-effect-11"><a href="#" data-hover="首页">首页</a></li>
                                    <li class="cl-effect-11"><a href="#" data-hover="博客">博客</a></li>
                                    <li class="cl-effect-11"><a href="#" data-hover="关于">关于</a></li>
                                    <li class="cl-effect-11"><a href="#" data-hover="联系">联系</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
				</div>	
            </header>
        </div>
        <div class="content-body" id="body">
            <div >
                <div  id="mainContent">
                    <main>
                        <div class="col-md-8">
                            {% block main %}
                            {% endblock main %}
                        </div>
                        <div id="sideBar">
                            <aside class="col-md-4">
                                {% block toc %}
                                {% endblock toc %}
                                <div class="widget widget-content">
                                    <h3 class="widget-title">公告</h3>
                                    <!-- 公告栏时钟控件 -->
                                    <embed wmode="transparent" src="http://chabudai.sakura.ne.jp/blogparts/honehoneclock/honehone_clock_wh.swf" quality="high" bgcolor="#ffffff" width="200" height="90" name="honehoneclock" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
                                    <!-- 小老鼠游戏控件 -->
                                    <div className="sidebarMouse">
                                    <object type="application/x-shockwave-flash" style="outline:none;" data="http://cdn.abowman.com/widgets/hamster/hamster.swf?" width="200" height="130"><param name="movie" value="http://cdn.abowman.com/widgets/hamster/hamster.swf?"></param><param name="AllowScriptAccess" value="always"></param><param name="wmode" value="opaque"></param></object>
                                    </div>
                                </div>
                                <div class="widget widget-recent-posts">
                                    <h3 class="widget-title">最新文章</h3>
                                    {% get_recent_posts as recent_post_list %}
                                    <ul>
                                        {% for post in recent_post_list %}
                                        <li>
                                            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                        </li>
                                        {% empty %}
                                        暂无文章
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="widget widget-archives">
                                    <h3 class="widget-title">归档</h3>
                                    {% archives as date_list %}
                                    <ul>
                                        {% for date in date_list %}
                                        <li>
                                            <a href="{% url 'blog:archives' date.year date.month %}">
                                                {{ date.year }} 年 {{ date.month }} 月
                                            </a>
                                        </li>
                                        {% empty %}
                                        暂无归档！
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="widget widget-category">
                                    <h3 class="widget-title">分类</h3>
                                    {% get_categories as category_list %}
                                    <ul>
                                        {% for category in category_list %}
                                        <li>
                                            <a href="{% url 'blog:category' category.pk %}">{{ category.name }}<span class="post-count">({{ category.num_posts }})</span></a>
                                        </li>
                                        {% empty %}
                                        暂无分类！
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="widget widget-tag-cloud">
                                    <h3 class="widget-title">标签云</h3>
                                    {% get_tags as tag_list %}
                                    <ul>
                                        {% for tag in tag_list %}
                                        <li>
                                            <a href="{% url 'blog:tag' tag.pk %}">{{ tag.name }}</a>
                                        </li>
                                        {% empty %}
                                        暂无标签！
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="widget widget-tag-cloud">
                                    <h3 class="widget-title"></h3>
                                    <object type="application/x-shockwave-flash" style="outline:none;" data="http://cdn.abowman.com/widgets/newtonscradle/newtonsCradle.swf?" width="200" height="200"><param name="movie" value="http://cdn.abowman.com/widgets/newtonscradle/newtonsCradle.swf?"></param><param name="AllowScriptAccess" value="always"></param><param name="wmode" value="opaque"></param></object>
                                </div>
                            </aside>
                        </div>
                    </main>
                </div>
            </div>
        </div>
        <footer id="site-footer">
            <div >
                <div >
                    <div class="col-md-12">
                        <p class="copyright">&copy 2019 - 2019 <a href="{% url 'blog:index' %}" target="_blank" title="">落叶丶为谁伤</a>
                        </p>
                    </div>
                    <div class="col-md-12">
                        <p class="copy"><a href="http://www.beian.miit.gov.cn/" target="_blank" title="">浙ICP备19032381号-1</a>
                        </p>     
                    </div>
                </div>
            </div>
        </footer>
			<a href="https://github.com/lipt1012" class="github-corner" target="_blank" title="Follow me on GitHub" aria-label="Follow me on GitHub">
		      <svg width="80" height="80" viewBox="0 0 250 250" style="fill:#222; color:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true">
			              <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path><path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
				          <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path>
					        </svg>
	</a>

    </div>
    <!-- Mobile Menu -->
    <script src="{% static 'blog/js/script.js' %}"></script>
    <script src="{% static 'blog/js/pointer.js' %}"></script>

</body>

</html>